<h1>REFRESHING</h1>
<ul class="topul">
	<li>WORD LISTS</li>
	<li><a href='quiz'>Quizzes</a></li>
	<li>Account</li>
	<li><a href='dictionary'>Dictionary</a></li>
	<li><a href='/'>Log Out</a></li>
</ul>
<p>You have already learned 20 words!</p>
<p>2000 words to go!</p>
<p>Quizzes Progress:</p>