<h1>REFRESHING</h1>
<ul>
	<li>WORD LISTS</li>
	<li>Quizzes</li>
	<li>Account</li>
	<li>Log Out</li>
</ul>

<h3>Look up a word!</h3>
<form action="/" method="get">
	<input type="text" name="word">
	<input type="submit" name="enter">
</form>

<h3>Add a new word!</h3>
<form action="/" method="post">
	Word<input type="text" name="word">
	Meaning<input type="text" name="meaning">
	<input type="submit" name="enter">
</form>

{{word}}

Meaning: {{meaning}}