<h1>REFRESHING</h1>
<ul class="topul">
	<li><a href='lists'>WORD LISTS</a></li>
	<li><a href='quiz'>Quizzes</a></li>
	<li>Account</li>
	<li><a href='dictionary'>Dictionary</a></li>
	<li><a href='/logout'>Log Out</a></li>
</ul>

<ul class="quiz">
	<li><a href="module1">Module 1</a> {{score}}</li>
</ul>