<form action="/register" method="POST">
	username<input type="text" name="username">
	{{userExists}}
	password<input type="password" name="password">
	<input type="submit" name="submit">
	<div class="btn-log">
	    <a href="/login">Back to login</a>
	</div>
</form>