<form action="/register" method="POST">
	username<input type="text" name="username">
	{{userExists}}
	password<input type="password" name="password">
	<input type="submit" name="submit">
	<button><a href='login'>Back to login</a></button>
</form>