<div id="container">
<form action="/register" method="POST">
	username<input type="text" name="username"><br>
	{{userExists}}
	password<input type="password" name="password"><br>
	<input type="submit" name="submit">
	<div class="btn-log">
	    <a href="/login">Back to login</a>
	</div>
</form>
</div>