@import url('https://fonts.googleapis.com/css?family=Raleway');
$colors: (
	primary: #005dff,
	accent: #fff6bb,
	button-bg-color: #edeff0,
	topli: #B9DFFF
);

$button-border-radius: 5px;

$liborder: 1px solid #eee;

$pad: 8px 14px;

$shadow: 5px 5px 5px #eee;

body, html {
	height: 100%;
	background-color: map-get($colors, primary);
	font-family: 'Raleway', sans-serif;
}

body {
	text-align: center;
	margin: 0;
	color: white;
}

h1 {
	font-size: 3rem;
	margin: 15px;
}

#container {
    display: inline-block;
    margin-top: 100px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 2em;
}

input[type="submit"], .btn-log {
	font-size: 1em;
	display: inline-block;
	padding: $pad;
	border-radius: $button-border-radius;
	background-color: map-get($colors, button-bg-color);
}

.topul {
	li { 
		display: inline; 
		padding: $pad; 
		text-align: center;
		background: map-get($colors, topli);
		color: map-get($colors, primary);
		border: $liborder;
		border-radius: 20px;
		box-shadow: $shadow;
	}
}

.topul {
	li:hover{
		background: #016ABC;
		color: white;
		border: $liborder;
		border-radius: 20px;
		box-shadow: $shadow;
	}
}

ul{ list-style-type: none; }
